a:visited {
    color: rgb(15, 0, 128);
    text-decoration: line-through;
    
}
.rs{
    font-size:30px;
    text-align: center;
}
header{
    text-align: center;
    background-color: rgb(223, 234, 203);
}
.student{
    background-color:aliceblue;
    text-align: center;
    font-size: 18px;
}
aside{
    float: right;
    width: 20%;
    background-color: aliceblue;
}
.about_me{
    float: left;
    width: 78%;
    padding: 10px;
}

section{
    float: left;
    width: 78%;
    padding: 10px;
}
/* .course ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  

.course ul img {
    float:left;
    width: 30%;
    background-color: aliceblue;
}
pre{
    background-color: aliceblue;
}